*{
     padding: 0;
    margin: 0;
}


body {
        background-image: url("../images/homeBackground.jpg");
        background-blend-mode: lighten;
        background-color: rgba(255,255,255,0.2);
    }


p{
        padding: 20px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font: 18px Arial, sans-serif;
}


ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #dddddd;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


li{
    float: left;
}


li a{
    display: block;
    text-decoration: none;
    padding: 8px 40px;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    color: #0788F7;
}

li a:hover {
    background-color: #555;
    color: white;
}






.centreElement{
    text-align: center;
}


.textStyling{
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
}

.transparentContainer{

        padding: 20px;
        background: rgba(200, 200, 200, 0.1);
        color: #fff;

}







  /* IDs   */

#homeImage{
    height: 300px;
    width: 300px;
    background-image: url("../images/nat1.jpg");
    background-size: cover;
    transform: rotate(90deg);
    position: 5px;
    border: 2px #fff dashed;
    animation: fadeInImage;
    animation-duration: 4s;
}

@keyframes fadeInImage{
    0%{opacity: 0}
    20%{opacity: 0.2}
    40%{opacity: 0.4}
    60%{opacity: 0.6}
    80%{opacity: 0.8}
    100%{opacity: 1}
}

#homeImage:hover{
    border-radius: 50%;
    box-shadow: 40px 40px 40px #888888;
}